# Test
Mohamad osama 
mo7amad.osama.29@gmail.com

-Question number 1:
Import the necessary libraries.
Create a DataFrame using the given data.
Display the DataFram
e.

In [6]:
import pandas as pd

#Creating data 
data = { 'Name' : ['Alice','Bob','Charile','David','Eva'],
          'Age' : [24,27,22,32,29],
          'City': ['New York','Los Angeles','Chicago','Houston','Phoenix']}
          
#Creating the dataframe
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charile   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix

2. Pandas DataFrame Operations (15 minutes)
Tasks:
2.1 Select the 'Name' and 'City' columns and display them.
2.2 Filter the DataFrame to only include rows where 'Age' is greater than 25 and display
the result.
2.3 Sort the DataFrame by 'Age' in ascending order and display the sorted DataFrame.
2.4 Add a new column 'Age_Group' that categorizes ages into 'Young' (less than 30) and
'Adult' (30 and above), and display the updated DataFrame.

In [18]:
#2.1 (selecting the 'Name' and "City' and displaying them
selected_categorize =df [['Name','City']]
print(selected_categorize)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charile      Chicago
3    David      Houston
4      Eva      Phoenix

In [24]:
#Filter the dataframe amoung the age greater than 25
Greater_than_25 = df[df['Age'] > 25]
print(Greater_than_25)

    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eva   29      Phoenix

In [32]:
#Sorting the dataframe in ascending order
ascending_order = df.sort_values(by ='Age')
print(ascending_order)

      Name  Age         City
2  Charile   22      Chicago
0    Alice   24     New York
1      Bob   27  Los Angeles
4      Eva   29      Phoenix
3    David   32      Houston

In [33]:
#adding a new coloumn'Age_group' in 'young'(less than 30),and 'Adult'(30 and above)


def categorize_age(age):
    if age < 30:
        return 'Young'
    else:
        return 'Adult'

#Function
df['Age_Group'] = df['Age'].apply(categorize_age)
print(df)

      Name  Age         City Age_Group
0    Alice   24     New York     Young
1      Bob   27  Los Angeles     Young
2  Charile   22      Chicago     Young
3    David   32      Houston     Adult
4      Eva   29      Phoenix     Young

3. Data Structures: Lists and Dictionaries (10 minutes)
Tasks:
3.1 Create a list of new ages: [25, 28, 23, 33, 30]. Update the 'Age' column in the
DataFrame with these new ages and display the updated DataFrame.
3.2 Create a dictionary mapping names to new cities: {'Alice': 'San Francisco', 'Bob':
'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}. Update the 'City' column
using this dictionary and display the updated DataFrame.

In [34]:
import pandas as pd

#dataframe 
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],  
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']  
}
df = pd.DataFrame(data)


new_ages = [25, 28, 23, 33, 30]

# Updating the age scheme 
df['Age'] = new_ages


print("Updated ages:")
print(df)

#3.2
New_cities = {'Alice': 'San Francisco', 'Bob':
'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}
#Updating
df['City'] = df['Name'].map(New_cities)

print(df)

Updated ages:
      Name  Age         City
0    Alice   25     New York
1      Bob   28  Los Angeles
2  Charlie   23      Chicago
3    David   33      Houston
4      Eva   30      Phoenix
      Name  Age           City
0    Alice   25  San Francisco
1      Bob   28        Seattle
2  Charlie   23         Austin
3    David   33         Dallas
4      Eva   30          Miami

4. Control Flow: Loops and Conditionals (10 minutes)
Tasks:
4.1 Use a for loop to print the name and age of each person in the DataFrame.
4.2 Write a function to categorize ages into 'Youth' (less than 30) and 'Adult' (30 and
above). Apply this function to create a new column 'Category' in the DataFrame and
display the updated DataFrame.

In [ ]:
#4.1 

#4.2 
# Define the function to categorize age
def categorize_age(age):
    if age < 30:
        return 'Youth'
    else:
        return 'Adult'